extends layout

block content
	//- modal for suggesting to cancel the wedding
	#guest-cancel-wedding.modal.fade(tabindex='-1', role='dialog', aria-labelledby='guestSuggestToCancelWedding', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
							h4.modal-title Seriously?
						.modal-body
							p Come on, you didn&apos;t really think that we would let you make a suggestion to cancel the wedding? Did you? That would be the worst feature conceived. Not to mention, we bet you&apos;d regret it when you&apos;re sober tomorrow, Derek.
							p.quote-src-right - GuestList Team
			#guest-edit-info-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editWeddingInfo', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') &times;
							h4.modal-title Profile Information
						.modal-body
							form
								.form-group
									label(for='guest-profile-pic') Profile Picture (square image at least 250px x 250px)
									input#guest-profile-pic.form-control(type='text', placeholder='URL')
								.form-group
									label(for='guest-hometown') Hometown
									input#guest-hometown.form-control(type='text', placeholder='City')
								.form-group
									label(for='guest-age') Age
									input#guest-age.form-control(type='number', placeholder='##', min='18', max='55')
								.form-group
									label(for='guest-friends-of') Friend Of The
									select#guest-friends-of.form-control
										option(value='Bride') Bride
										option(value='Groom') Groom
								.form-group
									label(for='guest-background-story') How You Know The Bride/Groom
									textarea#guest-background-story.form-control(rows='3', placeholder='Well it all started on the first day of college...')
								.form-group
									label(for='guest-wedding-story') Your Best Story About The Couple
									textarea#guest-wedding-story.form-control(rows='3', placeholder="This one time when we were all at Shotgun Willy's...")
						//- modal-body
						.modal-footer
							button.btn.btn-default(type='button', data-dismiss='modal') Cancel
							button#guest-portal-update-info.btn.btn-primary(type='button') Update
			.container
				.row
					//- area for WeddingGuest.profilePic
					.col-md-4.guest-portal-display-window
					//- area for WeddingGuest text info
					.col-md-8
						h2.middle.btm-spacer My Information
						.row
							.col-md-12
								h4.guest-friends-of Coming for:
								h4.guest-background-story How you know them:
								h4.guest-wedding-story Your best story about the couple:
