extends layout

block head-scripts
	link(rel='stylesheet', type='text/css', href='/style_sheets/landing_page.css')

block body-scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
	script(src='/scripts/landing_page.js')

block navbar
	unless user
		a(href='/login')
			button#landing-login.btn.btn-default.navbar-btn.navbar-right(type='button') Login
	if user
		if user.role === 'guest'
			.navbar-collapse.navbar-right
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button') Menu
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='#') My Weddings
							li
								a(href='/profile/#{user._id}') My Profile
							li
								a(href='#') Messages
							li
								a(href='#') Notifications
							li.divider
							li
								a.text-warning(href='/logout') Logout
	if user
		if user.role == 'host'
			.navbar-collapse.navbar-right
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button') Menu
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='/wedding-profile/#{user._id}') My Wedding
							li
								a(href='#') Notifications
							li
								a(href='/host-portal') My Portal
							li.divider
							li
								a.text-warning(href='/logout') Logout

block content
	#registrationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;                   
					h4#myModalLabel.modal-title Register for Plus1
				.modal-body
					.social-links
						ul
							li.social-container
								a(href='/auth/facebook')
									button.btn-primary.social-login-btn.fb-login-btn
										span
										img(src='./imgs/fb.png')
										p.social-text Register with Facebook
							li.social-container
								a(href='/auth/twitter')
									button.social-login-btn.tw-login-btn
										span
											img(src='./imgs/twitter.png')
											p.social-text Register with Twitter
					.form-spacer-clean
					h4.form-option OR
					.form-spacer-clean
					h5.form-option Register As
					.row
						.col-md-6
							a(href='/guest-registration').btn.btn-primary.btn-lg.modal-btn Guest
						.col-md-6
							a(href='/host-registration').btn.btn-primary.btn-lg.modal-btn Host
	.container.landing-container
		.landing-text-container
			h2.mega-headline Why Should the Bride & Groom 
			h2.mega-headline Have All the Fun?         
			p.headline-body Plus1 puts you in touch with other singles heading 
			p.headline-body to the same wedding and let&apos;s you connect before 
			p.headline-body you arrive. <em>Till tomorrow do you part</em>.
			//- button trigger for registration modal
			button#landing-page-registration.btn.btn-primary.btn-landing(data-toggle='modal', data-target='#registrationModal') Register for Plus1
	section.landing-video
		.video-filter
			video.video-bg(autoplay loop)
				source(src='/vid/WeddingBG_3.mp4', type='video/mp4')
	.scroll-bottom
		a#info-getter(href='#info')
			img(src='/imgs/down-caret.png')
	section.landing-intro
		#info.container
			h2.info-headline Find the Perfect Plus One(s)
			.row
				.col-md-3.col-sm-3
					h4.info-tagline Why Plus1?
					p.info-body Weddings can be a great time for singles, but not if the last minute/second choice plus one doesn't pan out. It's not just you, the guest, that's affected; the bride and groom are as well.
					p.info-body No longer will the couple have to extend plus one invitations to their single friends. Instead, all of their friends will have the opportunity to get to know one another well before the wedding.
					a(data-toggle='modal', data-target='#registrationModal')
						button.btn.btn-info Register For Plus1
				.col-md-6.col-sm-6
					.info-pic-container
						img(src='/imgs/wedding_cheers.png')
				.col-md-3.col-sm-3
					h4.info-tagline Everyone Wins
					p.info-body For the bride and groom, the perks of Plus1 are obvious: connect all of their friends that aren't acquainted with one another yet and save some money in the process. Fewer plus ones means fewer heads to feed come supper. 
					p.info-body Singles can expect a night of rampant sex, assuming they don't get too drunk and black out. Even if they blacked out, they could probably take a viagra to get wood and then they would just need a willing partner to climb on top. Maybe they hit it off and bang around back of the reception. Hopefully not in the bathroom, that shit's gross. Perhaps this is the start of a great relationship or the first step in a series of regrettable decisions.
	.spacer
