extends layout

block head-scripts
	link(rel='stylesheet', type='text/css', href='/style_sheets/landing_page.css')

block body-scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
	script(src='/scripts/landing_page.js')

block content
	#registrationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;                   
					h4#myModalLabel.modal-title Register for GuestList
				.modal-body
					h3.middle Register As
					.row
						.col-md-6
							a(href='/guest-registration').btn.btn-primary.btn-lg.modal-btn Guest
						.col-md-6
							a(href='/host-registration').btn.btn-primary.btn-lg.modal-btn Host
	.blue-overlay.bg   
		.jumbotron
			.container
				.landing-text-container
					h2 Find Your +1         
					p GuestList puts you in touch with other singles heading to the same wedding and let&apos;s you connect before you arrive. Till tomorrow do you part.
					//- button trigger for registration modal
					button#landing-page-registration.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#registrationModal') Register for GuestList
