doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Plus1 | Find Yours
		link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,200italic|Merriweather:300italic,300' rel='stylesheet' type='text/css')
		link(rel='stylesheet', type='text/css', href='/style_sheets/main.css')
		block head-scripts

	body
		.full-page-wrapper
		//- navbar
		nav(class='navbar navbar-default navbar-fixed-top')
			.container
				.navbar-header
					a(href='/' class='navbar-brand') Plus1
				block navbar
				
				//- form(class='navbar-form navbar-right inactive' id='main-login-form')
				//- 	.form-group
				//- 		label(class='sr-only' for='landing-login-email') Email address
				//- 		input(type='email' class='form-control' id='landing-login-email' placeholder='Enter email')
				//- 	.form-group
				//- 		label(class='sr-only' for='landing-login-pass') Password
				//- 		input(type='password' class='form-control' id='landing-login-pass' placeholder='Password')
				//- 	button(type='submit' class='btn btn-primary') Sign in
		block content
		//- footer
		footer(class='footer navbar-fixed-bottom')
			.container
				p(class='text-muted credit') &copy;2015&nbsp;
					a(href='https://github.com/mlg87') Mason Goetz
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		block body-scripts
