extends layout

block content
	.container
		.row
			.col-md-6.col-sm-6.col-md-offset-3
				h1 Login to Plus1
				form#main-local-login(method='post', action='/userlogin')
					.row
						.col-md-6.col-sm-6.col-xs-6
							.form-group
								//- this inputs name has to be 'username' for passport to work
								input#user-email(name='username', type='email', placeholder='Email')
						.col-md-6.col-sm-6.col-xs-6
							.form-group
								input#user-password(name='password', type='password', placeholder='Password')
					input.btn.btn-primary(type='submit')
				a(href='/auth/facebook') Login with Facebook
