extends layout

block head-scripts
	link(rel='stylesheet', type='text/css', href='/style_sheets/landing_page.css')

block content
	.container
		.row
			.col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
				.standalone-form
					h1.middle.btm-spacer.form-header Login
					.social-links
						ul
							li.social-container
								a(href='/auth/facebook')
									button.btn-primary.social-login-btn.fb-login-btn
										span
										img(src='./imgs/fb.png')
										p.social-text Sign in with Facebook
							li.social-container
								a(href='/auth/twitter')
									button.social-login-btn.tw-login-btn
										span
											img(src='./imgs/twitter.png')
											p.social-text Sign in with Twitter
					.form-spacer-clean
					h4.form-option OR
					.form-spacer-clean
					form.login-submit(method='post', action='/userlogin')
						//- this inputs name has to be 'username' for passport to work
						input.form-control.input-cleaner(name='username', type='email', placeholder='Email')
						input.form-control.input-cleaner(name='password', type='password', placeholder='Password')
						input.form-sub-clean.btn.btn-lg(type='submit')
						.row
							.col-md-4.col-sm-4.col-xs-4.col-md-offset-4.col-sm-offset-4.col-xs-offset-4
				a(href='#registrationModal', data-toggle='modal')
					button.btn.btn-register-modal-toggle Need an account?
	#registrationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;                   
					h4#myModalLabel.modal-title Register for Plus1
				.modal-body
					.social-links
						ul
							li.social-container
								a(href='/auth/facebook')
									button.btn-primary.social-login-btn.fb-login-btn
										span
										img(src='./imgs/fb.png')
										p.social-text Register with Facebook
							li.social-container
								a(href='/auth/twitter')
									button.social-login-btn.tw-login-btn
										span
											img(src='./imgs/twitter.png')
											p.social-text Register with Twitter
					.form-spacer-clean
					h4.form-option OR
					.form-spacer-clean
					h5.form-option Register As
					.row
						.col-md-6
							a(href='/guest-registration').btn.btn-primary.btn-lg.modal-btn Guest
						.col-md-6
							a(href='/host-registration').btn.btn-primary.btn-lg.modal-btn Host