/* STYLING FOR THE LANDING PAGE */

/*

  SITE COLORS:

    blue: #3498db
    blue(hover): #21628D
    dark-gray: #626E73
    darker-gray: 424A4D (66, 74, 77)
    gray: #8B9CA4
    clouds: #ecf0f1
    darker clouds: #717171
    facebook: #4a6ea9
    twitter: #5ea9dd

    main: #7ECEFD
    cream: #FFF6E5
    warning: #FF7F66
    hover: #2185C5
    text: #3E454C


  FONTS:

    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Merriweather', serif;

    FONT WEIGHTS



 */

/* BACKGROUND IMAGE AND JUMBOTRON STYLING */

.blue-overlay {
  background-color: #7ECEFD;
  z-index: 1;
  background-size: 100%;
  width: 100%;
  height: 900px;
  position: fixed;
  top: 0;
  left: 0;
}

.bg {
  /*background: url('http://i1136.photobucket.com/albums/n488/MasonGoetz/WeddingBurner_Big_30Blue_zps4mbq19fe.jpg') no-repeat center center;
  position: fixed;
  background-size: 100%;
  width: 100%;
  height: 900px;*/ /* this needs to be the same height as the jumbotron */
  /*top: 0;
  left: 0;*/
  z-index: -1;
}

.jumbotron {
  margin-bottom: 0;
  height: 900px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}

.landing-text-container {
  /*background-color: rgba(0, 0, 0, .7);*/
  padding: 50px;
  text-shadow: none;
  text-align: center;
  margin-top: 150px;
}

.landing-overlay {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 3000px;
  z-index: 1000;
}

.modal-btn {
  width: 100%;
}
  
/* STYLING FOR THE LANDING PAGE MAIN BUTTON */

.btn-landing {
  width: 350px;
  font-size: 2em;
  margin-top: 20px;
}


/*******************************************************

MEDIA QUERIES

*******************************************************/

@media (max-width: 768px) {
  body {
    padding-top: 100px; /* required for bootstrap sticky nav */
  } 
  .landing-text-container {
    margin-top: 75px;
  }
  .mega-headline {
    font-size: 2em;
  }
  .headline-body {
    font-size: .5em;
  }
  .btn-landing {
    width: 200px;
    font-size: 1.5em;
  }
}