/*

  SITE COLORS:

    blue: #3498db
    blue(hover): #21628D
    dark-gray: #626E73
    darker-gray: 424A4D (66, 74, 77)
    gray: #8B9CA4
    clouds: #ecf0f1
    darker clouds: #717171
    facebook: #4a6ea9
    twitter: #5ea9dd

 */

body {
  padding-top: 50px; /* required for bootstrap sticky nav */
  font-family: 'Montserrat', sans-serif;
}


/*******************************************************

OVERWRITING BOOTSTRAP DEFAULTS

*******************************************************/

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #3498db;
}

.btn-primary:hover {
  background-color: #21628D;
}

.form-control {
  border-radius: 0px;
  /* this was the only way to get rid of rounded corners on the selects */
  -webkit-appearance: none;
  box-shadow: none;
}


/* NAV BAR STYLING */

.navbar {
  background-color: #fff;
}

.navbar-brand {
  font-size: 2em;
}

.navbar-default .navbar-brand {
  color: #3498db;
}

.navbar-default:hover .navbar-brand:hover {
  color: #21628D;
}


/* MODAL STYLILNG */

.modal-title {
  text-align: center;
}

.modal-content {
  color: #3498db;
}

.modal-body {
  color: #626E73;
  text-align: left;
}


/* FOOTER STYLING */

.footer-pusher {
  padding-bottom: 60px;
}

.footer {
  text-align: center;
  background-color: #fff;
  height: 30px;
  padding: 10px;
  line-height: 10px;
  background-color: rgb(220, 220, 220);
}

/*******************************************************

UTILITY CLASSES

*******************************************************/

.inactive {
  display: none;
}

.btm-spacer {
  border-bottom: 1px solid #8B9CA4;
  padding: 20px 0 20px;
}

.btm-spacer-clean {
  padding: 20px 0 20px;
}

.middle {
  text-align: center;
}

.p-spacer {
  padding-top: 10px;
}

.quote-src-right {
  text-align: right;
}

.side-cleanup {
  padding: 0;
}

.snippet-overlay {
  background-color: rgba(66, 74, 77, .4);
  z-index: 1000;
}

.timestamp {
  font-size: .7em;
}

.btm-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.form-spacer {
  width: 100%;
  margin: 30px 0 30px;
  border-bottom: 1px solid #8B9CA4;
}

.form-spacer-clean {
  width: 100%;
  margin: 30px 0 30px;
}

.form-fieldset {
  margin-top: 40px;
}

.form-fieldset legend {
  font-style: italic;
  color: #3498db;
}

.input-cleaner {
  border: none;
  background-color: #ecf0f1;
  text-align: center; 
}

.input-cleaner:focus {
  outline: none;
  -webkit-box-shadow: none;

}

.form-sub-clean {
  background-color: #fff;
  border: 1px solid #3498db;
  color: #3498db;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.form-sub-clean:hover {
  color: #21628D;
  border-color: #21628D;
}

.standalone-form {
  background-color: #ecf0f1;
}

.form-header {
  background-color: #3498db;
  color: #fff;
}


/*******************************************************

SOCIAL LOGIN

*******************************************************/

#social-links {
  margin: auto;
  padding-bottom: 30px;
  /*background: #000000;*/
  overflow: hidden;
  width: 240px;
}

#social-links ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

#social-links ul li {
  width: 250px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
}
/*#social-links ul li span.ifacebook,
#social-links ul li span.itwitter {
  display: inline-table;
  width: 41px;
  text-align: center;
}*/

#social-links ul li span.ifacebook { 
  background: #354f88;
}

#social-links ul li span.itwitter { 
  background: #40a2d1;
}

#social-links ul li a.afacebook,
#social-links ul li a.atwitter {
  display: inline-table;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  width: 200px;
  height: 40px;
  text-align: center;
}

#social-links ul li a.afacebook { 
  background: #3b5998; 
  padding: 10px 0 9px 0; 
}

#social-links ul li a.atwitter { 
  background: #508FBB; /*#45b0e3 */
  padding: 10px 0 10px 0; 
}


#social-links ul li a.afacebook:hover { 
  background: #354f88; 
}

#social-links ul li a.atwitter:hover { 
  background: #40a2d1; 
}



/*******************************************************

MEDIA QUERIES

*******************************************************/

@media (max-width: 768px) {
  body {
    padding-top: 100px; /* required for bootstrap sticky nav */
  } 
}