/*

  SITE COLORS:

    blue: #3498db
    blue(hover): #21628D
    dark-gray: #626E73
    darker-gray: 424A4D (66, 74, 77)
    gray: #8B9CA4
    clouds: #ecf0f1
    darker clouds: #717171
    facebook: #4a6ea9
    twitter: #5ea9dd

    main: #7ECEFD / rgb(126, 206, 253)
    paper: #FFF6E5
    warning: #FF7F66
    hover: #2185C5
    text: #3E454C


  FONTS:

    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Merriweather', serif;

    FONT WEIGHTS

      Source Sans Pro: 200, 200 italic, 300;
      Merriweather: 300, 300 italic;

 */

body {
  padding-top: 50px; /* required for bootstrap sticky nav */
  font-family: 'Source Sans Pro', sans-serif;
  overflow: scroll;
  overflow-x: hidden;
}


/*******************************************************

OVERWRITING BOOTSTRAP DEFAULTS

*******************************************************/

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Merriweather', serif;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #FFF6E5;
}

.navbar-btn {
  background-color: #7ECEFD;
  border-color: #2185C5;
  color: #fff;
}

.navbar-btn:hover {
  background-color: #2185C5;
  color: #fff;
}

.btn {
  border-radius: 2px;
}

.btn-primary {
  background-color: #7ECEFD;
}

.btn-primary:hover {
  background-color: #2185C5;
}

.btn-danger {
  background-color: #FF7F66;
  border-color: #d43f3a;
}

.btn-danger:hover {
  background-color: #d43f3a;
}

.form-control {
  border-radius: 0px;
  /* this was the only way to get rid of rounded corners on the selects */
  -webkit-appearance: none;
  box-shadow: none;
}


/* NAV BAR STYLING */

.navbar {
  background-color: #FFF6E5;
}

.navbar-brand {
  font-size: 2em;
}

.navbar-default .navbar-brand {
  color: #7ECEFD;
}

.navbar-default:hover .navbar-brand:hover {
  color: #2185C5;
}


/* MODAL STYLILNG */

.modal-title {
  text-align: center;
}

.modal-content {
  color: #7ECEFD;
  border-radius: 2px;
}

.modal-body {
  color: #3E454C;
  text-align: left;
}


/* FOOTER STYLING */

.footer-pusher {
  padding-bottom: 60px;
}

.footer {
  text-align: center;
  background-color: #FFF6E5;
  height: 30px;
  padding: 10px;
  line-height: 10px;
}

/*******************************************************

UTILITY CLASSES

*******************************************************/

.inactive {
  display: none;
}

.btm-spacer {
  border-bottom: 1px solid #8B9CA4;
  padding: 20px 0 20px;
}

.btm-spacer-clean {
  padding: 20px 0 20px;
}

.middle {
  text-align: center;
}

.quote-src-right {
  text-align: right;
}

.side-cleanup {
  padding: 0;
}

.login-submit {
  padding-bottom: 20px
}

.snippet-overlay {
  background-color: rgba(66, 74, 77, .4);
  z-index: 1000;
}

.timestamp {
  font-size: .7em;
}

.btm-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.form-spacer {
  width: 100%;
  margin: 30px 0 30px;
  border-bottom: 1px solid #8B9CA4;
}

.form-spacer-clean {
  width: 100%;
  margin: 30px 0 30px;
}

.form-fieldset {
  margin-top: 40px;
}

.form-fieldset legend {
  font-style: italic;
  color: #3498db;
}

.input-cleaner {
  border: none;
  background-color: #ecf0f1;
  text-align: center; 
}

.input-cleaner:focus {
  outline: none;
  -webkit-box-shadow: none;

}


/* BG VIDEO STYLING */

.video-bg {
  min-width: 100%;
  min-height: 100%;
  /*width: auto;*/
  height: auto;
  display: block;
  z-index: -1;
}

.video-filter {
  background-color: rgba(255, 255, 255, .3);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}

.landing-container {
  position: absolute;
  display: block;
  z-index: 10;
  color: #fff;
  right: 0;
  left: 0;
  margin: auto;
}

.landing-video {
  height: 100vh;
  overflow: hidden;
}

/* LANDING INTRO INFO STYLING */

.landing-intro {
  height: 80vh;
  background-color: #7ECEFD;
}


/* FORM STYLING */

.form-sub-clean {
  background-color: #fff;
  border: 1px solid #7ECEFD;
  color: #7ECEFD;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.form-sub-clean:hover {
  color: #2185C5;
  border-color: #2185C5;
}

.standalone-form {
  background-color: #ecf0f1;
}

.form-header {
  background-color: #7ECEFD;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.form-option {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(126, 206, 253);
}


/* HEADLINE STYLING */

.mega-headline {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 4em;
  margin-top: 0;
}

p.headline-body {
  margin-bottom: 0;
  font-size: 1.25em;
}


/* USER INFO DISPLAY */

.muted-label {
  color: #8B9CA4;
  font-family: 'Source Sans Pro', sans-serif;
}

.user-info {
  color: #3E454C;
  font-family: 'Merriweather', serif;
  padding-top: 5px;
  line-height: 1.3;
}

.portal-header {
  text-align: center;
  border-bottom: 1px solid #8B9CA4;
  padding: 20px 0 20px;
}

.main-row {
  padding-bottom: 40px;
}

/*******************************************************

SOCIAL LOGIN

*******************************************************/

.social-links {
  margin: auto;
  overflow: hidden;
  width: 260px;
  margin-top: 20px;
}

.social-links ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.social-links ul li {
  width: 250px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.social-text {
  padding-left: 5px;
  text-decoration: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  display: inline;
  text-transform: uppercase;

}

.social-container {
  padding: 10px;
}

.social-container:focus {
  outline: none;
}

.social-login-btn {
  background: transparent;
  padding: 10px;
  border: none;
}

.social-login-btn:hover {
  background-color: #CBCECF;
  border-radius: 2px;
}

.fb-login-btn {
  color: #4a6ea9;
}

.fb-login-btn:hover {
  color: #4a6ea9;
}

.tw-login-btn {
  color: #5ea9dd;
}

.tw-login-btn:hover {
  color: #5ea9dd;
}




/*******************************************************

MEDIA QUERIES

*******************************************************/

@media (max-width: 768px) {
  body {
    padding-top: 50px; /* required for bootstrap sticky nav */
  } 
}