/*

  SITE COLORS:

    blue: #3498db
    blue(hover): #21628D
    dark-gray: #626E73
    darker-gray: 424A4D (66, 74, 77)
    gray: #8B9CA4
    clouds: #ecf0f1
    darker clouds: #717171
    facebook: #4a6ea9
    twitter: #5ea9dd

    main: #7ECEFD
    paper: #FFF6E5
    warning: #FF7F66
    hover: #2185C5
    text: #3E454C


  FONTS:

    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Merriweather', serif;

    FONT WEIGHTS

      Source Sans Pro: 200, 200 italic, 300;
      Merriweather: 300, 300 italic;

 */

.user-portal-prof-pic {
	/*height: 250px;*/
	width: 250px;
	margin: auto;
	overflow: hidden;
  border: 5px solid #7ECEFD;
	border-radius: 100%;

}

.user-portal-prof-pic img{
	width: 100%;
	z-index: -1;
}

/*.user-portal-container {
	margin-top: 50px;
}*/

.social-reg {
	background-color: #ecf0f1;
	border-radius: 2px;
	margin-top: 20px;
}

#social-reg-update {
	padding: 20px;
}

body {
  padding-top: 100px;
}


/*******************************************************

MEDIA QUERIES

*******************************************************/

@media (max-width: 768px) {
  .user-portal-prof-pic {
    width: 200px;
    height: 200px;
  }
  .user-portal-name {
  	border: none;
  }
  body {
    padding-top: 160px;
  }
}